<table style='width:70%'>
    <colgroup>
    <col width="10%" />
    <col width="50%" />
    <col width="25%" />
    <col width="25%" />
    </colgroup>
    <thead>
        <tr>
            <th title="Field #0" ></th>
            <th title="Field #1" >Club</th>
            <th title="Field #2" style='text-align:center;'>Area (KM<sup>2</sup>)</th>
            <th title="Field #2" style='text-align:center;'>%</th>
        </tr></thead>
    <tbody><tr>
    <td align="center">1</td>
    <td>Ross County F.C.</td>
    <td align="center">30765</td>
    <td align="center">13.37</td>
    </tr>
    <tr>
    <td align="center">2</td>
    <td>Carlisle United</td>
    <td align="center">9294</td>
    <td align="center">4.04</td>
    </tr>
    <tr>
    <td align="center">3</td>
    <td>St Mirren F.C.</td>
    <td align="center">8281</td>
    <td align="center">3.6</td>
    </tr>
    <tr>
    <td align="center">4</td>
    <td>Shrewsbury Town </td>
    <td align="center">8255</td>
    <td align="center">3.59</td>
    </tr>
    <tr>
    <td align="center">5</td>
    <td>Swansea City A.F.C.</td>
    <td align="center">8028</td>
    <td align="center">3.49</td>
    </tr>
    <tr>
    <td align="center">6</td>
    <td>Kilmarnock F.C.</td>
    <td align="center">7643</td>
    <td align="center">3.32</td>
    </tr>
    <tr>
    <td align="center">7</td>
    <td>St Johnstone F.C.</td>
    <td align="center">7058</td>
    <td align="center">3.07</td>
    </tr>
    <tr>
    <td align="center">8</td>
    <td>Aberdeen F.C.</td>
    <td align="center">6960</td>
    <td align="center">3.03</td>
    </tr>
    <tr>
    <td align="center">9</td>
    <td>Plymouth Argyle </td>
    <td align="center">5697</td>
    <td align="center">2.48</td>
    </tr>
    <tr>
    <td align="center">10</td>
    <td>Exeter City</td>
    <td align="center">5554</td>
    <td align="center">2.41</td>
    </tr>
    <tr>
    <td align="center">11</td>
    <td>Newcastle United F.C.</td>
    <td align="center">5180</td>
    <td align="center">2.25</td>
    </tr>
    <tr>
    <td align="center">12</td>
    <td>Tranmere Rovers</td>
    <td align="center">5073</td>
    <td align="center">2.21</td>
    </tr>
    <tr>
    <td align="center">13</td>
    <td>Norwich City </td>
    <td align="center">4963</td>
    <td align="center">2.16</td>
    </tr>
    <tr>
    <td align="center">14</td>
    <td>Hibernian F.C.</td>
    <td align="center">4432</td>
    <td align="center">1.93</td>
    </tr>
    <tr>
    <td align="center">15</td>
    <td>Peterborough United </td>
    <td align="center">4229</td>
    <td align="center">1.84</td>
    </tr>
    <tr>
    <td align="center">16</td>
    <td>Middlesbrough </td>
    <td align="center">4023</td>
    <td align="center">1.75</td>
    </tr>
    <tr>
    <td align="center">17</td>
    <td>Dundee United F.C.</td>
    <td align="center">3832</td>
    <td align="center">1.67</td>
    </tr>
    <tr>
    <td align="center">18</td>
    <td>Harrogate Town</td>
    <td align="center">3578</td>
    <td align="center">1.56</td>
    </tr>
    <tr>
    <td align="center">19</td>
    <td>Cheltenham Town</td>
    <td align="center">3325</td>
    <td align="center">1.45</td>
    </tr>
    <tr>
    <td align="center">20</td>
    <td>Cambridge United</td>
    <td align="center">3301</td>
    <td align="center">1.43</td>
    </tr>
    <tr>
    <td align="center">21</td>
    <td>Gillingham </td>
    <td align="center">3238</td>
    <td align="center">1.41</td>
    </tr>
    <tr>
    <td align="center">22</td>
    <td>Lincoln City </td>
    <td align="center">3212</td>
    <td align="center">1.4</td>
    </tr>
    <tr>
    <td align="center">23</td>
    <td>A.F.C. Bournemouth</td>
    <td align="center">3140</td>
    <td align="center">1.36</td>
    </tr>
    <tr>
    <td align="center">24</td>
    <td>Newport County</td>
    <td align="center">2939</td>
    <td align="center">1.28</td>
    </tr>
    <tr>
    <td align="center">25</td>
    <td>Bristol City </td>
    <td align="center">2739</td>
    <td align="center">1.19</td>
    </tr>
    <tr>
    <td align="center">26</td>
    <td>Swindon Town </td>
    <td align="center">2731</td>
    <td align="center">1.19</td>
    </tr>
    <tr>
    <td align="center">27</td>
    <td>Hull City </td>
    <td align="center">2620</td>
    <td align="center">1.14</td>
    </tr>
    <tr>
    <td align="center">28</td>
    <td>Morecambe</td>
    <td align="center">2516</td>
    <td align="center">1.09</td>
    </tr>
    <tr>
    <td align="center">29</td>
    <td>Livingston F.C.</td>
    <td align="center">2327</td>
    <td align="center">1.01</td>
    </tr>
    <tr>
    <td align="center">30</td>
    <td>Reading </td>
    <td align="center">2279</td>
    <td align="center">0.99</td>
    </tr>
    <tr>
    <td align="center">31</td>
    <td>Southampton F.C.</td>
    <td align="center">2261</td>
    <td align="center">0.98</td>
    </tr>
    <tr>
    <td align="center">32</td>
    <td>Ipswich Town </td>
    <td align="center">2203</td>
    <td align="center">0.96</td>
    </tr>
    <tr>
    <td align="center">33</td>
    <td>Northampton Town </td>
    <td align="center">2117</td>
    <td align="center">0.92</td>
    </tr>
    <tr>
    <td align="center">34</td>
    <td>Oxford United </td>
    <td align="center">1946</td>
    <td align="center">0.85</td>
    </tr>
    <tr>
    <td align="center">35</td>
    <td>Crawley Town</td>
    <td align="center">1936</td>
    <td align="center">0.84</td>
    </tr>
    <tr>
    <td align="center">36</td>
    <td>Motherwell F.C.</td>
    <td align="center">1893</td>
    <td align="center">0.82</td>
    </tr>
    <tr>
    <td align="center">37</td>
    <td>Colchester United</td>
    <td align="center">1785</td>
    <td align="center">0.78</td>
    </tr>
    <tr>
    <td align="center">38</td>
    <td>Brighton &amp; Hove Albion F.C.</td>
    <td align="center">1752</td>
    <td align="center">0.76</td>
    </tr>
    <tr>
    <td align="center">39</td>
    <td>Cardiff City </td>
    <td align="center">1722</td>
    <td align="center">0.75</td>
    </tr>
    <tr>
    <td align="center">40</td>
    <td>Leicester City F.C.</td>
    <td align="center">1667</td>
    <td align="center">0.72</td>
    </tr>
    <tr>
    <td align="center">41</td>
    <td>Grimsby Town</td>
    <td align="center">1584</td>
    <td align="center">0.69</td>
    </tr>
    <tr>
    <td align="center">42</td>
    <td>Coventry City </td>
    <td align="center">1584</td>
    <td align="center">0.69</td>
    </tr>
    <tr>
    <td align="center">43</td>
    <td>Crewe Alexandra </td>
    <td align="center">1535</td>
    <td align="center">0.67</td>
    </tr>
    <tr>
    <td align="center">44</td>
    <td>Portsmouth </td>
    <td align="center">1512</td>
    <td align="center">0.66</td>
    </tr>
    <tr>
    <td align="center">45</td>
    <td>Forest Green Rovers</td>
    <td align="center">1508</td>
    <td align="center">0.66</td>
    </tr>
    <tr>
    <td align="center">46</td>
    <td>Scunthorpe United</td>
    <td align="center">1468</td>
    <td align="center">0.64</td>
    </tr>
    <tr>
    <td align="center">47</td>
    <td>Barrow</td>
    <td align="center">1453</td>
    <td align="center">0.63</td>
    </tr>
    <tr>
    <td align="center">48</td>
    <td>Wolverhampton Wanderers F.C.</td>
    <td align="center">1434</td>
    <td align="center">0.62</td>
    </tr>
    <tr>
    <td align="center">49</td>
    <td>Southend United</td>
    <td align="center">1384</td>
    <td align="center">0.6</td>
    </tr>
    <tr>
    <td align="center">50</td>
    <td>Milton Keynes Dons </td>
    <td align="center">1381</td>
    <td align="center">0.6</td>
    </tr>
    <tr>
    <td align="center">51</td>
    <td>Stevenage</td>
    <td align="center">1341</td>
    <td align="center">0.58</td>
    </tr>
    <tr>
    <td align="center">52</td>
    <td>Nottingham Forest </td>
    <td align="center">1288</td>
    <td align="center">0.56</td>
    </tr>
    <tr>
    <td align="center">53</td>
    <td>Mansfield Town</td>
    <td align="center">1096</td>
    <td align="center">0.48</td>
    </tr>
    <tr>
    <td align="center">54</td>
    <td>Burnley F.C.</td>
    <td align="center">1096</td>
    <td align="center">0.48</td>
    </tr>
    <tr>
    <td align="center">55</td>
    <td>Doncaster Rovers </td>
    <td align="center">1067</td>
    <td align="center">0.46</td>
    </tr>
    <tr>
    <td align="center">56</td>
    <td>Burton Albion </td>
    <td align="center">1040</td>
    <td align="center">0.45</td>
    </tr>
    <tr>
    <td align="center">57</td>
    <td>Wycombe Wanderers </td>
    <td align="center">957</td>
    <td align="center">0.42</td>
    </tr>
    <tr>
    <td align="center">58</td>
    <td>Stoke City F.C.</td>
    <td align="center">944</td>
    <td align="center">0.41</td>
    </tr>
    <tr>
    <td align="center">59</td>
    <td>Port Vale</td>
    <td align="center">841</td>
    <td align="center">0.37</td>
    </tr>
    <tr>
    <td align="center">60</td>
    <td>Birmingham City </td>
    <td align="center">832</td>
    <td align="center">0.36</td>
    </tr>
    <tr>
    <td align="center">61</td>
    <td>Celtic F.C.</td>
    <td align="center">830</td>
    <td align="center">0.36</td>
    </tr>
    <tr>
    <td align="center">62</td>
    <td>Derby County </td>
    <td align="center">829</td>
    <td align="center">0.36</td>
    </tr>
    <tr>
    <td align="center">63</td>
    <td>Bristol Rovers </td>
    <td align="center">773</td>
    <td align="center">0.34</td>
    </tr>
    <tr>
    <td align="center">64</td>
    <td>Leeds United F.C.</td>
    <td align="center">746</td>
    <td align="center">0.32</td>
    </tr>
    <tr>
    <td align="center">65</td>
    <td>Sheffield United F.C.</td>
    <td align="center">720</td>
    <td align="center">0.31</td>
    </tr>
    <tr>
    <td align="center">66</td>
    <td>Luton Town </td>
    <td align="center">716</td>
    <td align="center">0.31</td>
    </tr>
    <tr>
    <td align="center">67</td>
    <td>AFC Wimbledon </td>
    <td align="center">692</td>
    <td align="center">0.3</td>
    </tr>
    <tr>
    <td align="center">68</td>
    <td>Rangers F.C.</td>
    <td align="center">622</td>
    <td align="center">0.27</td>
    </tr>
    <tr>
    <td align="center">69</td>
    <td>Bradford City</td>
    <td align="center">606</td>
    <td align="center">0.26</td>
    </tr>
    <tr>
    <td align="center">70</td>
    <td>Preston North End </td>
    <td align="center">604</td>
    <td align="center">0.26</td>
    </tr>
    <tr>
    <td align="center">71</td>
    <td>Watford </td>
    <td align="center">600</td>
    <td align="center">0.26</td>
    </tr>
    <tr>
    <td align="center">72</td>
    <td>Manchester United F.C.</td>
    <td align="center">569</td>
    <td align="center">0.25</td>
    </tr>
    <tr>
    <td align="center">73</td>
    <td>West Bromwich Albion F.C.</td>
    <td align="center">568</td>
    <td align="center">0.25</td>
    </tr>
    <tr>
    <td align="center">74</td>
    <td>Crystal Palace F.C.</td>
    <td align="center">562</td>
    <td align="center">0.24</td>
    </tr>
    <tr>
    <td align="center">75</td>
    <td>Wigan Athletic </td>
    <td align="center">557</td>
    <td align="center">0.24</td>
    </tr>
    <tr>
    <td align="center">76</td>
    <td>Huddersfield Town </td>
    <td align="center">549</td>
    <td align="center">0.24</td>
    </tr>
    <tr>
    <td align="center">77</td>
    <td>Barnsley </td>
    <td align="center">507</td>
    <td align="center">0.22</td>
    </tr>
    <tr>
    <td align="center">78</td>
    <td>Sunderland </td>
    <td align="center">492</td>
    <td align="center">0.21</td>
    </tr>
    <tr>
    <td align="center">79</td>
    <td>Manchester City F.C.</td>
    <td align="center">476</td>
    <td align="center">0.21</td>
    </tr>
    <tr>
    <td align="center">80</td>
    <td>Charlton Athletic </td>
    <td align="center">472</td>
    <td align="center">0.21</td>
    </tr>
    <tr>
    <td align="center">81</td>
    <td>Tottenham Hotspur F.C.</td>
    <td align="center">464</td>
    <td align="center">0.2</td>
    </tr>
    <tr>
    <td align="center">82</td>
    <td>Sheffield Wednesday </td>
    <td align="center">436</td>
    <td align="center">0.19</td>
    </tr>
    <tr>
    <td align="center">83</td>
    <td>Leyton Orient</td>
    <td align="center">403</td>
    <td align="center">0.18</td>
    </tr>
    <tr>
    <td align="center">84</td>
    <td>Hamilton Academical F.C.</td>
    <td align="center">381</td>
    <td align="center">0.17</td>
    </tr>
    <tr>
    <td align="center">85</td>
    <td>Accrington Stanley</td>
    <td align="center">356</td>
    <td align="center">0.15</td>
    </tr>
    <tr>
    <td align="center">86</td>
    <td>Rotherham United </td>
    <td align="center">323</td>
    <td align="center">0.14</td>
    </tr>
    <tr>
    <td align="center">87</td>
    <td>Oldham Athletic</td>
    <td align="center">316</td>
    <td align="center">0.14</td>
    </tr>
    <tr>
    <td align="center">88</td>
    <td>Walsall</td>
    <td align="center">311</td>
    <td align="center">0.14</td>
    </tr>
    <tr>
    <td align="center">89</td>
    <td>Brentford </td>
    <td align="center">304</td>
    <td align="center">0.13</td>
    </tr>
    <tr>
    <td align="center">90</td>
    <td>Rochdale  </td>
    <td align="center">297</td>
    <td align="center">0.13</td>
    </tr>
    <tr>
    <td align="center">91</td>
    <td>Everton F.C.</td>
    <td align="center">280</td>
    <td align="center">0.12</td>
    </tr>
    <tr>
    <td align="center">92</td>
    <td>Liverpool F.C.</td>
    <td align="center">270</td>
    <td align="center">0.12</td>
    </tr>
    <tr>
    <td align="center">93</td>
    <td>Bolton Wanderers</td>
    <td align="center">262</td>
    <td align="center">0.11</td>
    </tr>
    <tr>
    <td align="center">94</td>
    <td>Aston Villa F.C.</td>
    <td align="center">237</td>
    <td align="center">0.1</td>
    </tr>
    <tr>
    <td align="center">95</td>
    <td>Blackpool </td>
    <td align="center">234</td>
    <td align="center">0.1</td>
    </tr>
    <tr>
    <td align="center">96</td>
    <td>Blackburn Rovers </td>
    <td align="center">221</td>
    <td align="center">0.1</td>
    </tr>
    <tr>
    <td align="center">97</td>
    <td>Fleetwood Town </td>
    <td align="center">151</td>
    <td align="center">0.07</td>
    </tr>
    <tr>
    <td align="center">98</td>
    <td>Salford City</td>
    <td align="center">132</td>
    <td align="center">0.06</td>
    </tr>
    <tr>
    <td align="center">99</td>
    <td>Arsenal F.C.</td>
    <td align="center">90</td>
    <td align="center">0.04</td>
    </tr>
    <tr>
    <td align="center">100</td>
    <td>Queens Park Rangers </td>
    <td align="center">80</td>
    <td align="center">0.03</td>
    </tr>
    <tr>
    <td align="center">101</td>
    <td>Millwall </td>
    <td align="center">61</td>
    <td align="center">0.03</td>
    </tr>
    <tr>
    <td align="center">102</td>
    <td>Chelsea F.C.</td>
    <td align="center">47</td>
    <td align="center">0.02</td>
    </tr>
    <tr>
    <td align="center">103</td>
    <td>West Ham United F.C.</td>
    <td align="center">34</td>
    <td align="center">0.01</td>
    </tr>
    <tr>
    <td align="center">104</td>
    <td>Fulham F.C.</td>
    <td align="center">32</td>
    <td align="center">0.01</td>
    </tr>
    </tbody></table>