---
layout: default
title: Notes
---

{% assign psize = site.posts | size %}
{% if psize == 0 %}
<h1>Coming soon...</h1>
{% endif %}


{% for post in site.posts %}
<a href="{{ site.baseurl }}{{ post.url }}">
  {% if forloop.index == 1 %}
  <div class = "card">
  {% else %}
  <div class = "card-small">
  {% endif %}
    <div class = "card-left">
      <h2>
        {{ post.title }}
      </h2>
      <!--<time class="date" style="font-weight: Normal;">Evan</time><br>-->
      <time style = "font-weight: Normal;" class="date" datetime="{{ post.date | date_to_xmlschema }}"><b>{{ post.author }}</b>, {{ post.date | date: "%B %-d %Y" }}</time>

      <!--{% if forloop.index == 1 %}
      <p style = "font-weight: Normal;">{{ post.description }}</p>
      {% endif %}-->
    </div>
    <div class="card-right">
      {% if post.preview-image %}
        <img src = "{{ site.baseurl }}/assets/img/{{ post.preview-image }}">
      {% elsif post.category %}
        <img src = "{{ site.baseurl }}/assets/img/{{ post.category }}.jpg">
      {% else %}
        <img src = "{{ site.baseurl }}/assets/img/default.jpg">
      {% endif %}
    </div>
  </div>
</a>
{% endfor %}
